@font-face {
    font-family: 'Soehne';
    src: url('fonts/soehne-kraftig.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Soehne';
    src: url('fonts/soehne-buch.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Soehne';
    src: url('fonts/soehne-leicht.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Feature';
    src: url('fonts/FeatureDisplay-Regular-Web.woff2') format('woff2'),
        url('fonts/FeatureDisplay-Regular-Web.woff') format('woff');
    font-weight: 400;
}


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

/* For devices larger than 550px */
@media (min-width: 768px) {
    .container {
        width: 100%;
    }

    .column,
    .columns {
        margin-left: 4%;
    }

    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }

    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }

    .two.columns {
        width: 13.3333333333%;
    }

    .three.columns {
        width: 22%;
    }

    .four.columns {
        width: 30.6666666667%;
    }

    .five.columns {
        width: 39.3333333333%;
    }

    .six.columns {
        width: 48%;
    }

    .seven.columns {
        width: 56.6666666667%;
    }

    .eight.columns {
        width: 65.3333333333%;
    }

    .nine.columns {
        width: 74.0%;
    }

    .ten.columns {
        width: 82.6666666667%;
    }

    .eleven.columns {
        width: 91.3333333333%;
    }

    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }

    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns {
        margin-left: 8.66666666667%;
    }

    .offset-by-two.column,
    .offset-by-two.columns {
        margin-left: 17.3333333333%;
    }

    .offset-by-three.column,
    .offset-by-three.columns {
        margin-left: 26%;
    }

    .offset-by-four.column,
    .offset-by-four.columns {
        margin-left: 34.6666666667%;
    }

    .offset-by-five.column,
    .offset-by-five.columns {
        margin-left: 43.3333333333%;
    }

    .offset-by-six.column,
    .offset-by-six.columns {
        margin-left: 52%;
    }

    .offset-by-seven.column,
    .offset-by-seven.columns {
        margin-left: 60.6666666667%;
    }

    .offset-by-eight.column,
    .offset-by-eight.columns {
        margin-left: 69.3333333333%;
    }

    .offset-by-nine.column,
    .offset-by-nine.columns {
        margin-left: 78.0%;
    }

    .offset-by-ten.column,
    .offset-by-ten.columns {
        margin-left: 86.6666666667%;
    }

    .offset-by-eleven.column,
    .offset-by-eleven.columns {
        margin-left: 95.3333333333%;
    }

}


/* Base Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
  html is set to 62.5% so that all the REM measurements throughout Skeleton
  are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.8em;
    /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.5;
    font-weight: 400;
    font-family: "Soehne", Helvetica, Arial, sans-serif;
    color: #1d1d1d;

}


/* Typography
  –––––––––––––––––––––––––––––––––––––––––––––––––– */


h1 {
    font-size: clamp(5.4rem, 1.052vw + 5.063rem, 6rem);
    line-height: 1;
    font-family: "Feature", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: -0.054rem;
}

h2 {
    font-size: 3.2rem;
    line-height: 1.2;
    font-family: "Feature", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: -0.032rem;
}

h3,
h4,
h5,
h6 {
    font-size: 1.8rem;
    font-weight: 500;

}

.small {
    font-size: 1.6rem;
}

.xsmall {
    font-size: 1.3rem;
}

address {
    font-style: normal;

}


h3,
h4,
h5,
h6 {
    margin: 0;
}

h1,
h2,
p,
.button,
address {
    margin: 0 0 2rem;
}


/* Links
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: #1EAEDB;
}

a:hover {
    color: #0FA0CE;
}


/* Buttons
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
    display: inline-block;
    padding: 0.5rem 1.5rem 0.75rem;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    background-color: #1d1d1d;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    transition: background 0.3s ease;
}

.button:hover {
    background-color: #3d3d3d;
    color: #fff;
}


/* Utilities
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

.u-pull-right {
    float: right;
}

.u-pull-left {
    float: left;
}


/* Clearing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}


.section {
    padding: 4rem 0;
}

.hero {
    text-align: center;
    max-width: 50ch;
    margin: 0 auto;
}

.hero img {
    width: 90%;
    height: auto;
}

strong {
    font-weight: 500;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


ul.services li {
    border-top: 1px solid #ddd;
    padding-top: 2rem;
}

.nav {
    font-size: 2rem;
    font-weight: 400;
    font-family: "Feature", Helvetica, Arial, sans-serif;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 99999;
    background: #fff;
}

.footer {
    border-top: 1px solid #ddd;
    padding: 4rem 0 2rem;
    background: #eee;
}


/* Media Queries
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
  Note: The best way to structure the use of media queries is to create the queries
  near the relevant code. For example, if you wanted to change the styles for buttons
  on small devices, paste the mobile query code up in the buttons section and style it
  there.
  */


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
